<li class='phrase-manage-list-item'>
  <div class='media-object'>
    <div class='media pull-left'>
      <input class='checkbox-lang checkbox-count selectedLang' type='checkbox'>
    </div>
    <div class='media-body'>
      <div class='phrase-header'>
        <div class='phrase-meta'>
          <div class='id'>
            <span>
            ID:
            </span>
            Start a petition
          </div>
          <div class='context'>
            <span>
            Context:
            </span>
            Start a petition
          </div>
        </div>
      </div>
      <div class='phrase-body'>
        <p>
          The CO2
          <strong class='highlighted'>
          emission
          </strong>
          given in grams per kilometre represent the combined values. In line
          with new European standards, the range shown displays the fuel
          consumption and CO2 values from the smallest to largest wheel size
          available on the selected model.
        </p>
      </div>
      <div class='phrase-footer'>
        <div class='fr'>
          <ul class='phrase-actions'>
            <li>
              <a class='tt'
                data-original-title='Write notes to translators to help them understand the context of this phrase'
                data-placement='top' data-toggle='modal'
                href='.modal-note-to-translators' title=''>
              Add notes
              </a>
            </li>
            <li><i class="icon-eye-open"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</li>
