<li class='phrase-manage-list-item'>
  <div class='media-object'>
    <div class='media pull-left'>
      <input
        ng-model="vm.model.selected"
        class='checkbox-lang checkbox-count selectedLang' type='checkbox'>
    </div>
    <div class='media-body'>
      <div class='phrase-header'>
        <div class='phrase-meta'>
          <div class='id'>
            <span>
            ID:
            </span>
            {{vm.model.id}}
          </div>
          <div class='context'>
            <span>
            Context:
            </span>
            {{vm.model.context}}
          </div>
          <div class='notes'>
            <div ng-repeat="note in vm.model.notes track by $index">
              {{note}}
            </div>
          </div>
        </div>
      </div>
      <div class='phrase-body'>
        <div ng-bind-html="vm.model.value"></div>
      </div>
      <div class='phrase-footer'>
        <div class='fr'>
          <ul class='phrase-actions'>
            <li>
              <a
                class='tt'
                ng-click="vm.handleAddNoteClick()"
                title=''>
              Add notes
              </a>
            </li>
            <li><i class="icon-eye-open"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</li>
