<div class='row-fluid'>
  <div class='span12 content-box-header'>
    <div class='row-fluid'>
      <div class='span4 content-box-header-content fl'>
        <form>
          <div class='input-prepend'>
            <span class='add-on'>
            <i class='icon-search'></i>
            </span>
            <input
              ng-model="vm.filterKeyword"
              ng-change="vm.handleFilterKeywordChange({keyword: vm.filterKeyword})"
              class='span12' placeholder='Find a phrase...' type='text'>
          </div>
        </form>
      </div>
      <div class='content-box-header-content fr'>
        <select
          ng-change="vm.handleSelectFilter({type: vm.displayingPhraseType})"
          ng-model="vm.displayingPhraseType">
          <option value="all">All Phrases</option>
          <option value="visible">Visible Phrases</option>
          <option value="hidden">Hidden Phrases</option>
        </select>
      </div>
    </div>
  </div>
</div>
