<div class='row-fluid'>
  <div class='span12 content-box-header'>
    <div class='row-fluid'>
      <div class='span4 content-box-header-content fl'>
        <form>
          <div class='input-prepend'>
            <span class='add-on'>
            <i class='icon-search'></i>
            </span>
            <input class='span12' placeholder='Find a phrase...' type='text'>
          </div>
        </form>
      </div
      <div class='content-box-header-content fr'>
        <div class='count-unit'>
          Filter:
            <button type="button" class="btn dropdown-toggle btn-default">
              All phrases
            </button>
          </div>
          <select class='selectpicker show-tick' data-width='180px'>
            <option data-icon='icon-align-left'>All phrases</option>
            <option data-icon='icon-eye-open'>Visible phrases</option>
            <option data-icon='icon-eye-close'>Hidden phrases</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
