<div class='wrapper'>
  <div class="content-bg">
    <main class="o-main o-main--hasSubHeader o-main--hasLeftContainer" role="main">
      <div class="o-container">
        <div class='row-fluid subtitle-box'>
            <div class='span6'>
                <h2>
                    Phrases
                </h2>
            </div>
        </div>
        <phrase-summary></phrase-summary>
        <phrase-center></phrase-center>
      </div>
    </main>
  </div>
  <new-note-modal></new-note-modal>
</div>
