.wrapper {
  height: 100vh;
  background: #e4e7eb;
}

.content-bg {
  flex: 1 0 auto;
}

.o-container {
  padding: 20px;
}

.subtitle-box {
  margin-bottom: 18px;
  margin-top: 10px;

  h2 {
    font-family: "proxima-nova",sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #4d4d4d;
    margin: 0;
    padding-left: 10px;
    border-left: 5px solid #2ea8e6;    
  }
}
