<div class='row-fluid'>
  <div class='span12 content-box-subheader bulk-actions-box bulk-actions-box-language boxSized'>
    <div class='row-fluid'>
      <div class='span9'>
        <input class='selectAllLangs checkbox-lang tt' data-original-title='Select all'
          data-placement='top' data-toggle='tooltip' title='' type='checkbox'
          value=''>
        <button class='btn btn-download-multiple btn-narrow disabled tt'
          data-original-title='Hide selected phrases from collaborators.'
          data-placement='top' data-toggle='tooltip' title='' type='button'>
        <i class='icon-eye-close'></i>
        Hide
        </button>
        <button class='btn btn-download-multiple btn-narrow disabled tt'
          data-original-title='Make selected phrases visible to collaborators.'
          data-placement='top' data-toggle='tooltip' title='' type='button'>
        <i class='icon-eye-open'></i>
        Visible
        </button>
        <span class='selected-lang-no blue-txt'>
        Selected
        <span class='selected-phrase-no-txt'>
          0 phraees
        </span>
        </span>
      </div>
    </div>
  </div>
</div>
