<div id="my-modal" class="modal fade" ng-class="{in: vm.isOpen}" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button
                  ng-click="vm.handleCloseModalClick()"
                  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Title</h4>
            </div>
            <div class="modal-body">
                Hello World!
            </div>
        </div>
    </div>
</div>
