<phrase-summary
  phrases="vm.phrases"
  displaying-phrase-type="vm.displayingPhraseType"
  handle-filter-tab-click="vm.updateDisplayingPhraseType(type)"
></phrase-summary>
<phrase-filter
  filter-keyword="vm.filterKeyword"
  displaying-phrase-type="vm.displayingPhraseType"
  handle-select-filter="vm.updateDisplayingPhraseType(type)"
  handle-filter-keyword-change="vm.updateFilterKeyword(keyword)"
></phrase-filter>
<action-bar
  is-select-all-on="vm.isAllPhraseSelected"
  selected-phrase-number="vm.selectedPhraseNumber"
  handle-select-all-click="vm.toggleAllPhrase()"
  handle-hide-button-click="vm.hideSelectedPhrase()"
  handle-set-visible-button-click="vm.setVisibleButtonClick()"
></action-bar>
<phrase-list
  model="vm.displayingPhrases"
  handle-item-select-checkbox-click="vm.selectOnePhrase(phraseId)"
  handle-item-add-note-click="vm.showAddNoteModal(phraseId)"
></phrase-list>
